canvas {
  background-color: rgb(255, 255, 255);
}

.canvasContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3%;
  height: 90vh;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2%;
}

.inputContainer {
  margin: 3%;
}

.notesHeaderContainer {
  height: 50px;
  background-color:#1AB188;
  color: white;
  cursor: pointer;
}

.notesContainer {
  width: 775;
  height: 600;
  background-color:rgba(96, 22, 22, 0.8);
  color: black;
}