.userCount {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: grey;
    border-radius: 4px;
    padding-left: 1%;
    margin: 5%;
    height: 90vh;
  }
  
  .topInnerContainer {
    display: flex;
    align-items: center;
    color: white;
    margin: 1%;
  }

  .bottomInnerContainer {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 1%;
  }